[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

trim_trailing_whitespace = true
indent_style = space

[PKGBUILD]
indent_style = space
indent_size = 4

[package]
indent_style = space
indent_size = 4

[*.go]
indent_style = tab
indent_size = 4

[*.nim]
indent_size = 2

[*.py]
indent_size = 4

[*.{js,mjs,jsx,ts,tsx}]
indent_size = 2

[*.{c,cc,cpp,h,hh,hpp}]
indent_size = 3

[Makefile]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = false

[meson.build]
indent_style = tab
indent_size = 4

# serialization & markup

[*.{json,jsonl,json5}]
indent_size = 2

[*.{yaml,yml}]
indent_size = 2

[*.xml]
indent_size = 2

[*.md]
indent_style = tab
trim_trailing_whitespace = false
